
        <div class="row"  style="background-color: #530720; padding-bottom: 40px; margin-top: 50px; margin-bottom: 80px;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <center><h3><p>Mandaci un messaggio</h3></center>


        <form id="pizzaOrder" name="contattaci" method="POST" data-netlify="true" data-netlify-recaptcha="true">
                <div class="form-group">
                  <label for="name">Nome:</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="email">La tua e-mail:</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                  <label for="message">Messaggio:</label>
                  <textarea class="form-control" rows="7" id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                  <div data-netlify-recaptcha="true"></div>
                </div>
                <button type="submit" class="btn btn-primary" style="border-radius: 4px;">Invia</button>
              </form>
            </div>
        </div>
        <script type="text/javascript">
        document.querySelector("form").addEventListener("submit", handleSubmit);

        const handleSubmit = (e) => {
          e.preventDefault()
          let myForm = document.getElementById('pizzaOrder');
          let formData = new FormData(myForm)
          fetch('/', {
            method: 'POST',
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString()
          }).then(() => console.log('Form successfully submitted')).catch((error) =>
            alert(error))
        }
        </script>
<style type="text/css">
        .tlemail::-webkit-input-placeholder {
   color: rgba(255,255,255,.45);
}
       .tlemail:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.45);
}

      .tlemail::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.45);
}

      .tlemail:-ms-input-placeholder {
   color: rgba(255,255,255,.45);
}
    </style>
